<!-- required script -->
<script src="/js/post.js"></script> 
<input type="hidden" id="pid" value={{post._id}}>
<div class="modal-container">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row mx-auto">
        <!-- Image Pane -->
        <div class="col-12" id="post-image-pane">
          <img src={{post.img}} class="m-0" id="post-image">
        </div>
        <!-- Info Pane -->
        <div class="col-3" class="pt-0" id="post-info-pane">
          <!-- Header -->
          <header class="p-3 mb-2" id="info-pane-header">
            <div class="row mx-auto">
              <div class="col-2 pr-2">
                <img src={{post.author.profilePic}} class="profile-pic mb-0 rounded-circle">
              </div>
              <div class="col-10">
                <div class="row mx-auto">
                  <a href="/profile/others/{{post.author._id}}" class="no-underline">
                    <h5 class="my-0 primary-color-light">{{post.author.firstName}}</h5>
                  </a>
                </div>
                <div class="row mx-auto">
                  <p class="my-0">@{{post.author.username}}</p>
                </div>
              </div>
            </div>
          </header>
          <!-- Post Details -->
          <div id="info-pane-details" class="px-3 pb-3">
            <h4>{{post.title}}</h4>
            <p>{{post.caption}}</p>
          </div>
          <!-- Comments Section -->
          <div id="comments-section">
            {{#each post.comments}}
            <ul class="px-3">
              <div class="row mx-auto">
                <div class="col-2 pr-2">
                  <img src={{this.commenter.profilePic}} class="profile-pic mb-0 rounded-circle">
                </div>
                <div class="col-10">
                  <div class="row mx-auto">
                    <a href="/profile/others/{{this.commenter._id}}" class="no-underline">
                      <h5 class="my-0 primary-color-light">{{this.commenter.username}}</h5>
                    </a>
                  </div>
                  <div class="row mx-auto">
                    <p class="my-0">{{this.comment}}</p>
                  </div>
                </div>
              </div>
            </ul>
            {{/each}}
          </div>
          <!-- Footer -->         
          <div id="info-pane-footer">
            <div class="likes px-3 pt-3">
              <p><strong>{{post.likes}}</strong> likes</p>
            </div>
            <form class="px-3">
              <div class="input-group input-group-lg m-0">
                <textarea 
                  type="text" 
                  class="form-control p-0" 
                  id="comment-box" 
                  placeholder="Write a comment..."
                ></textarea>
                <div class="input-group-append">
                  <button id="comment-btn" class="btn btn-link"><i
                      class="material-icons" id="comment-icon">send</i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
