<div class="row">
  <div class="col">
    <img src="{{post.image}}">
  </div>
  <div class="col">
    {{post.author}}
    {{post.caption}}

    <ul>
      {{#each post.comments}}
        <li>
          <h5>{{this.author}}</h2>
          <p>{{this.comment}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>